  <div class="navi">
    <div class="logo">
      <a href="#"><img src="assets/imgs/keka logo.png" alt="Keka logo"></a>
    </div>
    <div class="heading">Pulse Surveys</div>
    <div class="right">
      <div class="search">
        <input type="text" placeholder="Search">
      </div>
      <div class="search-icon">
        <img src="assets/imgs/search.svg" alt="">
      </div>
      <div class="date">{{date | date:'dd MMM yyyy'}}</div>
      <!-- <div class="sun-logo"> -->
      <img class="sun-logo" src="assets/imgs/sun.svg" alt="">
      <!-- </div> -->
      <div class="name">Pavan Raj</div>
      <div class="avatar">
        <img src="assets/imgs/temp.jpeg" alt="">
      </div>
    </div>
  </div>
