.admin{
    background-color:white;
    height:100%;
}

.navbar{
  border-bottom:.1px rgb(240, 241, 243) solid;
}
.items{
    display:flex;
    display:inline; 
    padding-right: 25px;
}
a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;
  font-size: 15px;  
}
.active{
  position: relative;
}
.active:after{
content: " ";
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid blue;
position: absolute;
display: block;
top: 113%;
left: 32%;
}
