<div class="completed-surveys">
  <h1>Completed Pulse Surveys</h1>
  <h6>Here you can see the pulse surveys that you have completed</h6>
  <div class="navi">
     <select class="select-list">
       <option selected disabled>Launched between</option>
     </select>
     <div class="search-middle">
       <form action="">
      <i class="fa fa-search" aria-hidden="true"></i>
       <input type="search" placeholder="Search">
       
       <button type="reset"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
      </form>
    </div>
  </div>
</div>